include popups/_callback
include popups/_thanks 
include popups/_promo
include popups/_video
include popups/_bani-item1
include popups/_bani-item2
include popups/_bani-item3
include popups/_bani-item4
include popups/_bani-item5