+popup(id="callback")
    +picture(png, `${assets}s2-strill`, 'sm').popup__img-strill
    form.form(action="#") 
        p.form__title Рассчитаем стоимость#[br.d-lg-none] бани за 5 минут
        .form__inputs
            .input-wrap 
                input.form__input.input(type="text" name="Имя" placeholder="Введите имя")
            .input-wrap 
                input.form__input.input.phone(type="tel" name="Телефон" placeholder="Введите номер телефона")
            input.input-hidden-descr(type="hidden" name="Описание")
            button.form__submit.uk-button.btn-solid-primary(type="submit") Рассчитать 
        p.form__agreement Нажимая на кнопку «Рассчитать», Вы соглашаетесь на обработку Ваших персональных данных в соответствии с Политикой конфиденциальности