+popup(id="thanks")
    a.popup__logo(href="/")
        +picture(png, `${assets}logo`, 'n')
    +picture(png, `${modules}popup-banya`, 'n').popup__img-banya
    .popup__title Спасибо что обратились#[br] в компанию #[span.text-primary «Уютный Дом64»]
    .popup__subtitle Наш менеджер свяжется#[br] в течение 10 минут