#video.popup-video.popup.uk-flex-top(data-uk-modal)
    .popup__body.uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical.embed-responsive.embed-responsive-16by9
        button.popup__close.uk-modal-close-default(type="button" data-uk-close)
#video1.popup-video.popup.uk-flex-top(data-uk-modal)
    .popup__body.uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical.embed-responsive.embed-responsive-16by9
        button.popup__close.uk-modal-close-default(type="button" data-uk-close)
#video2.popup-video.popup.uk-flex-top(data-uk-modal)
    .popup__body.uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical.embed-responsive.embed-responsive-16by9
        button.popup__close.uk-modal-close-default(type="button" data-uk-close)
#video3.popup-video.popup.uk-flex-top(data-uk-modal)
    .popup__body.uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical.embed-responsive.embed-responsive-16by9
        button.popup__close.uk-modal-close-default(type="button" data-uk-close)
#video4.popup-video.popup.uk-flex-top(data-uk-modal)
    .popup__body.uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical.embed-responsive.embed-responsive-16by9
        button.popup__close.uk-modal-close-default(type="button" data-uk-close)
#video5.popup-video.popup.uk-flex-top(data-uk-modal)
    .popup__body.uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical.embed-responsive.embed-responsive-16by9
        button.popup__close.uk-modal-close-default(type="button" data-uk-close)
#video6.popup-video.popup.uk-flex-top(data-uk-modal)
    .popup__body.uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical.embed-responsive.embed-responsive-16by9
        button.popup__close.uk-modal-close-default(type="button" data-uk-close)