//- mode - development / production

//- Links 

- var phoneLink = "tel:79272253387"
- var phoneNumber = "7 927 225 33 87"
- var mailAdress = "info@zhk.com"
- var privacyLink = "/privacy-policy.pdf"

//- social
- var vkLink = "#"
- var instLink = "#"
- var fbLink = "#"
- var tgLink = "#"
- var ytLink = "#"

//- image placeholder
- var ipl = "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
//- image paths
- var assets = "./assets/images/"
- var modules = `/modules/images/`
- var assetsIco = "./assets/images/icons/"
- var modulesIco = `/modules/images/icons/`
//- file paths
- var stylesPath = `./assets/styles/main.min.css`
- var scriptsPath = `./assets/scripts/main.min.js`

//- grid breakpoints
- var sm = 420
- var md = 768
- var lg = 1390

//- colors 

//- iconset


