#thanks {
    .popup {
        &__body {
            padding-top: 17.375rem;
            padding-bottom: 2.9375rem;
        }
        &__close {
        }
    }
}
@media (min-width: map-get($grid-breakpoints, md)) {
    #thanks {
        .popup {
            &__body {
                overflow: hidden;
                padding-bottom: 32px;
            }
            &__close {
            }
        }
    }
}