#thanks {
    .popup {
        &__body {
            padding-top: 2.5625rem;
            padding-bottom: 2.9375rem;
        }
        &__close {
        }
    }
}
.thanks {
    &__img {
        &-banya {
            width: 20.875rem;
            position: absolute;
            top: 12.775rem;
            left: 0;
            pointer-events: none;
        }
    }
    &__icons {
        color: $primary;
        display: flex;
        justify-content: space-between;
        width: 7.75rem;
        margin: 1.0625rem auto 14.7125rem;
        svg {
            width: 2.25rem;
            &:hover {
                filter: drop-shadow(0px 0px 4px rgba($primary,0.3));
            }
        }
    }
    &__block {
        margin-left: 1.3125rem;
        margin-bottom: 1.25rem;
        &-title {
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.25rem;
            margin-bottom: 0.5rem;
        }
        &-adress {
            padding-left: 1.6rem;
            font-size: 0.875rem;
            line-height: 1.3125rem;
            position: relative;
            &::before {
                content: '';
                display: block;
                width: 1.1875rem;
                height: 1.25rem;
                background-image: url('/assets/images/icons/map-pin.png');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        &-tel {
            padding-left: 1.6rem;
            position: relative;
            &::before {
                content: '';
                display: block;
                width: 1rem;
                height: 1rem;
                background-image: url('/assets/images/icons/map-phone.png');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                position: absolute;
                top: 0.25rem;
                left: 0;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
@media (min-width: map-get($grid-breakpoints, md)) {
    #thanks {
        .popup {
            &__body {
                width: 750px;
                overflow: hidden;
                padding: 36px 37px 45px 36px;
            }
            &__logo {
                left: unset;
                top: 40px;
                right: 27px;
            }
            &__title {
                text-align: left;
                font-size: 24px;
                margin-bottom: 8px;
            }
            &__subtitle {
                text-align: left;
                font-size: 16px;
                padding-bottom: 50px;
                position: relative;
                &::after {
                    content: "";
                    display: block;
                    width: 397px;
                    height: 1px;
                    background: #E1E1E1;
                    position: absolute;
                    left: 0;
                    bottom: 25px;
                }
            }
        }
    }
    .thanks {
        &__img {
            &-banya {
                width: 583px;
                top: 55px;
                left: 421px;
                z-index: -2;
                filter: brightness(1.05);
            }
        }
        &__icons {
            margin: 0;
            position: absolute;
            bottom: 50px;
            right: 37px;
            svg {}
        }
        &__block {
            margin-left: 0;
            margin-bottom: 11px;
            &-title {}
            &-adress {}
            &-tel {
                margin-left: 30px;
            }
            &-flex {
                display: flex;
                align-items: flex-start;
            }
        }
    }
}